@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face{
    font-family: 'Zig';
    src: url('./assets/fonts/zig.ttf') format('truetype');
    font-display: swap;
}

// FONTS
$zig: 'Zig', sans-serif;
$roboto: "Roboto", sans-serif;
$poppins: "Poppins", sans-serif;