.skills-container-tech{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    // row-gap: 50px;
    align-items: center;
    justify-content: center;
    animation: moveUp linear 9000ms infinite normal;
    .container{
        width: 100%;
        padding-bottom: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 50px 100px;
        place-items: center center;
    }
}

@media screen and (max-width: 768px){
    .skills-container-tech {
        // row-gap: 36px;
        animation: moveUp linear 30000ms infinite normal;
        .container {
            padding-bottom: 36px;
            gap: 36px 50px;
        }
    }
}

@media screen and (max-width: 420px) {
    .skills-container-tech{
        // row-gap: 24px;
        .container {
            padding-bottom: 24px;
            gap: 24px 50px;
        }
    }
}