// .skills-container-tool{
//     position: absolute;
//     width: 100%;
//     display: grid;
//     grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
//     gap: 50px 150px;
//     place-items: center center;
//     animation: moveUp linear 6000ms infinite normal;
// }

.skills-container-tool{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: moveUp linear 8000ms infinite normal;
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        gap: 50px 150px;
        place-items: center center;
    }
}

@media screen and (max-width: 800px){
    .skills-container-tool{
        gap: 50px 100px;
        animation: moveUp linear 6000ms infinite normal;
    }
}