.carousel-container{
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    &::after{                                                                   // The blurrs on the left side
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 25%;
        background: linear-gradient(to left, white, transparent);
        z-index: 100;
        pointer-events: none;
    }

    &::before{                                                                 // The blurrs on the right side
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 25%;
        background: linear-gradient(to right, white, transparent);
        z-index: 101;
        pointer-events: none;
    }
    .carousel-tracker{
        position: relative;
        left: 25%; // So that the first one starts from the middle
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 56px;
        z-index: 100;
        // transform: translate(calc(-1 * var(--index-number) * 30%), 0);
        transform: translate(calc(-1 * var(--index-number) * calc(38rem + 56px)), 0);
        transition: all 0.5s ease-in-out;
    }
    .arrow{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 4rem;
        cursor: pointer;
        z-index: 150;
        &.hidden{
            display: none;
        }
        &.left{
            left: 10%;
        }

        &.right{
            right: 10%;
        }
    }
}

// *********************************** TAB VIEW ***********************************
@media screen and (max-width: 991px) {
    .carousel-container{
        &::before{
            width: 20%;
        }
        
        &::after{
            width: 20%;
        }
        .carousel-tracker{
            position: relative;
            left: 10%;
            width: max-content;
            display: flex;
            align-items: center;
            column-gap: 24px;
            z-index: 100;
            transform: translate(calc(-1 * var(--index-number) * 30%), 0);
            transition: all 0.5s ease-in-out;
        }
        .arrow{
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            font-size: 4rem;
            cursor: pointer;
            z-index: 150;
            &.hidden{
                display: none;
            }
            &.left{
                left: 10%;
            }
    
            &.right{
                right: 10%;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .carousel-container {
        .carousel-tracker {
            inset: 0 0 0 25%;
            width: max-content;
            column-gap: 16px;
            z-index: 100;
            transform: translate(calc(-1 * var(--index-number) * 33%), 0);
            transition: all 0.5s ease-in-out;
        }
    }
}

@media screen and (max-width: 640px) {
    .carousel-container{
        padding: 0 8px;
        &::before{
            width: 5%;
        }
        
        &::after{
            width: 5%;
        }
        .carousel-tracker{
            width: fit-content;
            left: 15%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 16px;
            z-index: 100;
            transform: translate(calc(-1 * var(--index-number) * 33.33%), 0);
            // transform: translate(calc(-1 * var(--index-number) * 500px), 0);
            transition: all 0.5s ease-in-out;
            .card-container {
                height: 250px;
                padding: 16px 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .card-header {
                    .logo {
                        width: 36px;
                    }
                    .name {
                        font-size: 14px;
                        flex-wrap: wrap;
                    }
                    .institute {
                        text-align: center;
                    }
                }
            }
        }
        .arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            font-size: 2rem;
            cursor: pointer;
            z-index: 150;
            &.hidden{
                display: none;
            }
            &.left{
                left: 2%;
            }
    
            &.right{
                right: 2%;
            }
        }
    }
}

@media screen and (max-width: 420px) {
    .carousel-container {

        .carousel-tracker {
            left: 0;
            min-width: 300%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 8px;

            .card-container {
                padding: 8px 12px;
                width: 100%;
            }
        }
    }
}