@import "../../scss/variables";
@import "../../scss/animations";

.job-container{
    position: relative;
    width: 90%;
    padding: 0.75rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    &::after{
        content: "";
        position: absolute;
        left: -1.25rem;
        top: 1rem;
        aspect-ratio: 1;
        border-left: 0.75rem solid rgb(255, 53, 53);
        border-top: 0.75rem solid transparent;
        border-bottom: 0.75rem solid transparent;
        animation: 1s ease-in-out 3s infinite alternate arrowPointRight;
    }

    .job-heading{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 0.25rem;
        .job-title{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-weight: 700;
            font-size: 1.25rem;
            letter-spacing: 0.10rem;
            div{
                width: fit-content;
            }
        }
        .job-subtitle{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 300;
            font-size: 0.75rem;
            font-style: italic;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 400px){
    .job-container{  
        gap: 1rem;
        &::after{
            top: 0.75rem;
            border-left: 0.5rem solid rgb(255, 53, 53);
            border-top: 0.5rem solid transparent;
            border-bottom: 0.5rem solid transparent; 
        }
        .job-heading{
            gap: 0.15rem;
            .job-title{
                gap: 0.1rem;
                font-size: 0.75rem;
                letter-spacing: 0.05rem;
            }
            .job-subtitle{   
                font-size: 0.6rem;
            }
        }

        .job-description{
            font-size: 0.75rem;
        }
    }
}