@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes moveUp {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(0, -52%);
    }
}

@keyframes arrowPointRight {
    0%{
        left: -1%;
    }
    100%{
        left: 0.5%;
    }
}