@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


// FONTS
$roboto: "Roboto", sans-serif;
$poppins: "Poppins", sans-serif;

// COLORS
$primaryColor: #273036;

@mixin shrinkLabel(){
    top: 5%;
    font-size: 12px;
}
