@use './variables' as *;
@use './animations' as *;

*, *::before, *::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: $poppins;
    scroll-behavior: smooth;
}

body, html{
    width: 100%;
    height: auto;
    min-height: 100vh;
    overflow-x: clip;
    -webkit-font-smoothing: antiliased;
    font-size: 1vw;
    cursor: url("../assets/cursors/plane.svg") 2 2, auto;
}

#app{
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.grid {
    display: grid;
}

.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.row {
        flex-direction: row;
    }
}